* {

    margin: 0;

    padding: 0;

}

body {   

    font-family: 'Poppins', sans-serif;

    margin: 0;

  }

  
  /* Style the header */

  .header {  

    padding: 10px;

    text-align: center;

  }


  

  /* Style the top navigation bar */

  .navbar{
  padding: .8rem;
}

.navbar-nav li{
  padding-right: 20px;

}



.bio-div a{
  text-align: center;
}

h1{

        font-family: 'Courier New', Courier, monospace;

        color: black;

      
        text-align: center;

        

}

h2{ 

   font-family: Arial, Helvetica, sans-serif;

  

}

p {

    font-family: verdana;

    font-size: 20px;

}

.inline{

display: inline;

text-align: center;

}

